.DS_Store
.ipynb_checkpoints/
Output/DeepSequence
Output/CFMatrix/*.png
Output/SeqEmbedding1D/*
Output/SeqEmbedding1D/CNN-SIMPLE-EMBEDDING.weights.h5
Output/SeqEmbedding1D/CNN-SIMPLE-EMBEDDING.weights.h5
Output/SeqEmbedding1D/CNN-SIMPLE-EMBEDDING.weights.h5
Output/SeqEmbedding1D/CNN.weights.h5
*.h5
